@import url("https://fonts.googleapis.com/css?family=Miriam+Libre|Source+Sans+Pro|Indie+Flower");
.panel__content:after, .grid:after, .btn__group:after {
  content: "";
  display: table;
  clear: both; }

.srt, .form__label--hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

[class^="btn--"], [class^="btn__tab"] {
  text-align: center; }

.centered, .grid {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.right {
  float: right; }

.left {
  float: left; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

* input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  box-sizing: border-box; }

body {
  color: #797e83;
  font-size: 16px;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-color: #2A3D45; }

h3 {
  font-size: 1.125em; }

a {
  color: #656a6e;
  text-decoration: none;
  font-weight: 400; }

p {
  margin: 0 0 1.66667em;
  font-weight: 300;
  font-size: 1.125em;
  line-height: 1.5; }

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

img {
  margin: 1em 0;
  max-width: 100%;
  height: auto; }

textarea {
  resize: none; }

input,
textarea {
  display: block;
  padding: 15px;
  width: 100%;
  outline: 0;
  border: 0; }

input:focus,
textarea:focus {
  transition: 0.4s; }

button {
  outline: 0; }

.panel {
  box-shadow: 0 2px 1px 1px #c2d5d8;
  margin-bottom: 1em; }
  .panel__title {
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 10px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 15px 15px 7px;
    min-height: 48px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .panel__title--hdln {
      margin: 0;
      letter-spacing: 1px;
      text-transform: uppercase; }
  .panel__content {
    background-color: #ffffff;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-style: solid solid none;
    border-width: 1px 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; }

.wrapper {
  width: 100%;
  overflow-x: hidden; }

.grid {
  width: 95%;
  padding: 0; }
  [class*="grid__col--"] > .grid {
    width: 100%; }
  @media (min-width: 768px) {
    .grid {
      padding-top: 1.25em; } }
  @media (min-width: 1100px) {
    .grid {
      max-width: 1200px; } }

@media (min-width: 768px) {
  .grid__col--1 {
    width: 6.5%; }
  .grid__col--2 {
    width: 15%; }
  .grid__col--3 {
    width: 23.5%; }
  .grid__col--4 {
    width: 32%; }
  .grid__col--5 {
    width: 40.5%; }
  .grid__col--6 {
    width: 49%; }
  .grid__col--7 {
    width: 57.5%; }
  .grid__col--8 {
    width: 66%; }
  .grid__col--9 {
    width: 74.5%; }
  .grid__col--10 {
    width: 83%; }
  .grid__col--11 {
    width: 91.5%; }
  .grid__col--12 {
    width: 100%; } }

@media (min-width: 768px) {
  [class^="grid__col--"] {
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px; }
    [class^="grid__col--"] + [class^="grid__col--"] {
      margin-left: 2%; }
    [class^="grid__col--"]:last-of-type {
      float: right; } }

.header {
  min-height: 94px;
  background-color: #fff;
  width: 100%;
  padding: 0 1em; }
  @media (min-width: 768px) {
    .header {
      margin-left: 96px;
      position: relative;
      width: auto; } }

.sidebar {
  width: 100%; }
  @media (min-width: 768px) {
    .sidebar {
      width: 96px;
      position: absolute; } }

.content {
  background-color: #eeeeee; }
  @media (min-width: 768px) {
    .content {
      margin-left: 96px;
      position: relative;
      min-height: 568px; } }

.form__btn, [class^="btn--"], [class^="btn__tab"] {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.875em;
  font-weight: 400;
  transition: opacity 0.4s, box-shadow 0.4s;
  display: block; }
  .form__btn:hover, [class^="btn--"]:hover, [class^="btn__tab"]:hover {
    opacity: .75;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.2); }
  .form__btn:active, [class^="btn--"]:active, [class^="btn__tab"]:active {
    opacity: initial; }

.icon__svg--notification, .icon__svg--power, .icon__svg--social {
  padding: 5px 0;
  margin: .8em 0.5em; }

.icon__svg {
  width: 1.5625em;
  height: 1.5625em; }

.img--profile {
  display: -ms-flexbox;
  display: flex; }

.img--avatar {
  height: 1.5625em;
  border-radius: 50%; }

.img--feed {
  height: auto;
  border-radius: 50%; }

.img__container {
  height: 96px;
  text-align: center;
  position: relative;
  background-color: #c2d5d8; }

.img--text {
  margin: 1em 0.5em;
  line-height: 1.5625em; }

.handwriting {
  font-family: "Indie Flower", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  top: 51px;
  left: 17px;
  font-weight: bold;
  font-size: 1.5em;
  color: #2a3d45;
  text-shadow: 1px 1px 1px #eee; }

.form__label {
  display: block;
  margin-bottom: 0.625em; }

.form__input {
  font-size: 1em;
  border-bottom: 2px solid #c2d5d8;
  color: #2a3d45;
  font-weight: 300;
  letter-spacing: 1px;
  padding: .5em .6em .5em .2em;
  min-width: 15.625em; }
  .form__input:focus {
    border-color: #2a3d45; }
  .form__input--search {
    display: none;
    font-size: 1em;
    border-bottom: 2px solid #c2d5d8;
    color: #2a3d45;
    font-weight: 300;
    letter-spacing: 1px;
    padding: .5em .6em .5em .2em;
    min-width: 15.625em; }
    .form__input--search:focus {
      border-color: #2a3d45; }
    @media (min-width: 768px) {
      .form__input--search {
        display: block; } }
  .form__input--select {
    overflow: visible;
    width: 100%;
    border-radius: 5px;
    padding: 11px;
    background-color: #eff0f1;
    border: none;
    color: #2a3d45;
    height: 40px;
    margin-bottom: 1em;
    margin-top: 1.125em;
    font-weight: bold; }

.form__btn {
  margin-bottom: 1.42857em;
  margin-top: 1.42857em;
  box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
  background: #2a3d45; }

.btn__group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row; }

.btn--active {
  background-color: #2a3d45; }

.btn--default {
  background-color: #2a3d45; }

.btn--success {
  background-color: #5ece7f; }

.btn--error {
  background-color: #e67478; }

.btn--warning {
  background-color: #ff784f; }

.btn--info {
  background-color: #9279c3; }

.btn__tab--active {
  background-color: #2a3d45; }

.btn__tab--default {
  background-color: #2a3d45; }

.btn__tab--success {
  background-color: #5ece7f; }

.btn__tab--error {
  background-color: #e67478; }

.btn__tab--warning {
  background-color: #ff784f; }

.btn__tab--info {
  background-color: #9279c3; }

.btn__tab--transparent {
  color: #797e83;
  background-color: transparent;
  font-weight: bold; }

.btn__tab--active {
  box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2); }

[class^="btn--"] {
  margin-bottom: 1.42857em;
  margin-top: 1.42857em;
  padding: 15px 30px;
  border-radius: 0.4em;
  box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2); }
  @media (min-width: 320px) {
    [class^="btn--"] {
      width: 100%; } }
  @media (min-width: 768px) {
    [class^="btn--"] {
      width: auto;
      display: inline-block; }
      [class^="btn--"] + [class^="btn--"] {
        margin-left: 20px; } }

[class^="btn__tab"] {
  padding: 5px 10px;
  border-radius: 50px; }
  @media (min-width: 768px) {
    [class^="btn__tab"] {
      width: auto;
      display: inline-block; }
      [class^="btn__tab"] + [class^="btn__tab"] {
        margin-left: 5px; } }

.navbar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  height: 94px;
  -ms-flex-align: center;
  align-items: center;
  width: 95%;
  margin: auto; }
  @media (min-width: 768px) {
    .navbar {
      margin-bottom: 0;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  .navbar--right {
    display: -ms-flexbox;
    display: flex;
    margin-top: 1.25em; }

.icon {
  display: block;
  text-align: center;
  vertical-align: top;
  color: #abb7b7;
  margin-top: 1em; }
  .icon__item a {
    padding: 1em;
    display: block;
    width: 100%;
    color: #fff; }
  .icon__item--active {
    border-left: 2px solid #d47500;
    box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2); }
    .icon__item--active a {
      padding: 1em;
      display: block;
      width: 100%;
      color: #d47500; }
  .icon__svg--notification {
    width: 2em;
    height: 2em; }
    .icon__svg--notification:hover {
      animation: heartbeat 1.5s ease-in-out infinite both; }
  .icon__svg--power {
    width: 2em;
    height: 2em; }
  .icon__svg--social {
    width: 4em;
    height: 4em; }

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out; }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in; }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out; }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in; }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out; } }

.dropdown {
  position: relative;
  display: inline-block; }
  .dropdown > a {
    color: #d47500; }
  .dropdown__content {
    display: none;
    position: absolute;
    min-width: 225px;
    z-index: 1;
    background-color: #fff;
    top: 68px;
    margin-top: 0;
    margin-left: 0;
    border: 1px solid #e7eaec;
    box-shadow: 0 2px 1px 1px #c2d5d8; }
  .dropdown__link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0.875em;
    padding: .5em 1em;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: 1px solid #e7eaec;
    padding: 1.2em .8em; }
    .dropdown__link:hover {
      background-color: #e5ecef;
      opacity: .8; }
  .dropdown__divider {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ebecec;
    margin: .5em 0;
    padding: 0; }

.toast-success {
  background-color: #2a3d45; }

.toast-top-center {
  top: 10px; }

.toast-progress {
  background-color: #d47500;
  opacity: 1; }

.social {
  background-color: #ebecec;
  border: 1px solid #d6d7d9;
  border-radius: 5px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center; }
  .social__icon {
    display: inline-block; }
  .social__content {
    display: inline-block; }
    .social__content--heading {
      color: #4b6a88;
      margin: 0;
      line-height: 1.25em; }
    .social__content--stats {
      line-height: 1em;
      font-size: 2.5em; }

.onoffswitch {
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.onoffswitch-checkbox {
  display: none; }

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 30px;
  padding: 0;
  line-height: 30px;
  border: 0px solid #999999;
  border-radius: 37px;
  background-color: #EEEEEE; }

.onoffswitch-label:before {
  content: "";
  display: block;
  width: 37px;
  margin: -3.5px;
  background: #A1A1A1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  border-radius: 37px;
  box-shadow: 0 6px 12px 0px #757575; }

.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #2a3d45; }

.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #2A3D45; }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0; }

.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px;
  background-color: #c2d5d8;
  box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2); }

.feed__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center; }

.feed__more {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .feed__more a {
    color: #c2d5d8; }
    .feed__more a:hover {
      color: #50777e; }

.setting__content {
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 2em;
  padding-top: .8em;
  color: #2a3d45;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (min-width: 768px) {
    .setting__content {
      -ms-flex-pack: initial;
      justify-content: initial; } }

.onoffswitch {
  margin-left: 1em; }

.is-hidden {
  display: none; }

/*# sourceMappingURL=application.css.map */
