@import url("https://fonts.googleapis.com/css?family=Miriam+Libre|Source+Sans+Pro|Indie+Flower");
.panel__content:after, .grid:after, .btn__group:after {
  content: "";
  display: table;
  clear: both; }

.srt, .form__label--hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

[class^="btn--"], [class^="btn__"] {
  text-align: center; }

[class^="progbar__"]:after {
  display: block;
  content: '';
  position: absolute; }

.centered, .grid {
  float: none;
  margin-left: auto;
  margin-right: auto; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

* input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  box-sizing: border-box; }

body {
  color: #797e83;
  font-size: 16px;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-color: #2A3D45; }

h3 {
  font-size: 1.125em; }

h4 {
  margin-top: 1.375em;
  margin-bottom: 2.57143em;
  color: #d6d7d9;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 0.875em; }
  @media (min-width: 768px) {
    h4 {
      margin-top: 2.625em; } }

a {
  color: #656a6e;
  text-decoration: none;
  font-weight: 400; }

p {
  margin: 0 0 1.66667em;
  font-weight: 300;
  font-size: 1.125em;
  line-height: 1.5; }

blockquote {
  font-weight: 300;
  font-style: italic;
  font-size: 1.25em; }
  @media (min-width: 768px) {
    blockquote {
      margin: 1.33333em 0;
      padding: 0 0 0 5%;
      border-left: 0.33333em solid #ebecec;
      font-size: 1.5em; } }

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

img {
  margin: 1em 0;
  max-width: 100%;
  height: auto; }

input,
textarea {
  display: block;
  padding: 15px;
  width: 100%;
  outline: 0;
  border: 0; }

input:focus,
textarea:focus {
  transition: 0.3s; }

button {
  outline: 0; }

footer {
  border-top: 1px solid #ebecec; }
  footer p {
    font-size: 1em;
    margin-top: 1.375em; }

.panel {
  box-shadow: 0 2px 1px 1px #c2d5d8; }
  .panel__title {
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 10px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 15px 15px 7px;
    min-height: 48px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .panel__title--hdln {
      margin: 0;
      letter-spacing: 1px;
      text-transform: uppercase; }
  .panel__content {
    background-color: #ffffff;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-style: solid solid none;
    border-width: 1px 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; }

.wrapper {
  width: 100%;
  overflow-x: hidden; }

.grid {
  width: 95%;
  padding: 0; }
  [class*="grid__col--"] > .grid {
    width: 100%; }
  @media (min-width: 768px) {
    .grid {
      padding-top: 1.25em; } }
  @media (min-width: 1100px) {
    .grid {
      max-width: 1200px; } }

@media (min-width: 768px) {
  .grid__col--1 {
    width: 6.5%; }
  .grid__col--2 {
    width: 15%; }
  .grid__col--3 {
    width: 23.5%; }
  .grid__col--4 {
    width: 32%; }
  .grid__col--5 {
    width: 40.5%; }
  .grid__col--6 {
    width: 49%; }
  .grid__col--7 {
    width: 57.5%; }
  .grid__col--8 {
    width: 66%; }
  .grid__col--9 {
    width: 74.5%; }
  .grid__col--10 {
    width: 83%; }
  .grid__col--11 {
    width: 91.5%; }
  .grid__col--12 {
    width: 100%; } }

@media (min-width: 320px) {
  [class^="grid__col--"] {
    margin-top: 0.75em;
    margin-bottom: 0.75em; } }

@media (min-width: 768px) {
  [class^="grid__col--"] {
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px; }
    [class^="grid__col--"] + [class^="grid__col--"] {
      margin-left: 2%; }
    [class^="grid__col--"]:last-of-type {
      float: right; } }

.theme__poly .grid [class*="grid__col"] {
  font-weight: 100;
  margin-bottom: 1em;
  padding: 1.75%; }

.header {
  min-height: 94px;
  background-color: #fff;
  width: 100%;
  padding: 0 1em; }
  @media (min-width: 768px) {
    .header {
      margin-left: 96px;
      position: relative;
      width: auto; } }

.sidebar {
  width: 100%; }
  @media (min-width: 768px) {
    .sidebar {
      width: 96px;
      position: absolute; } }

.content {
  background-color: #eeeeee; }
  @media (min-width: 768px) {
    .content {
      margin-left: 96px;
      position: relative;
      min-height: 568px; } }

@media (min-width: 768px) {
  .nav__item, .nav__item--current {
    display: inline-block;
    margin: 0 0.625em; } }

.nav__item--current a, .nav__item a {
  font-weight: 300;
  text-align: center;
  font-size: 1.125em;
  display: block;
  padding: 0.4em;
  border-bottom: 1px solid transparent; }
  @media (min-width: 320px) {
    .nav__item--current a, .nav__item a {
      border-bottom-color: #ebecec;
      padding-top: 0.77778em;
      padding-bottom: 0.77778em; } }

.nav__item--current a, .nav__item a:hover {
  color: #0b0b0b;
  border-color: #2a3d45; }

h1, .headline-primary, .headline-primary--grouped {
  color: #525559;
  font-weight: 300;
  font-size: 2.625em;
  line-height: 1.09524;
  margin-top: 0; }

h2, .headline-secondary, .headline-secondary--grouped {
  color: #999da1;
  letter-spacing: 1px;
  font-weight: 100;
  font-size: 1.5em;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.form__btn, [class^="btn--"] {
  padding: 15px 30px;
  border: 0;
  border-radius: 0.4em;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.875em;
  font-weight: 400;
  transition: opacity 0.3s;
  display: block; }
  .form__btn:hover, [class^="btn--"]:hover {
    opacity: .75; }
  .form__btn:active, [class^="btn--"]:active {
    opacity: initial; }

[class^="btn__"] {
  padding: 5px 10px;
  border: 0;
  border-radius: 50px;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.875em;
  font-weight: 400;
  transition: opacity 0.3s;
  display: block; }
  [class^="btn__"]:hover {
    opacity: .75; }
  [class^="btn__"]:active {
    opacity: initial; }

.menu__link, .menu__link--end {
  display: block;
  padding-top: 1em;
  padding-bottom: 1em;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px rgba(121, 126, 131, 0.2);
  font-size: 1.125em; }

.icon__svg--notification, .icon__svg--power {
  padding: 5px 0;
  margin: .8em 0.5em; }

.img--profile {
  display: -ms-flexbox;
  display: flex; }

.img--avatar {
  height: 1.5625em;
  border-radius: 50%; }

.img--logo {
  border-radius: 50%;
  max-height: 96px; }

.img__container {
  height: 96px;
  text-align: center;
  position: relative;
  background-color: #c2d5d8; }

.img--text {
  margin: 1em 0.5em;
  line-height: 1.5625em; }

.headline-primary {
  margin-bottom: 1.66667em; }
  .headline-primary--grouped {
    margin-bottom: 0; }

.headline-secondary {
  margin-bottom: 0.91667em; }
  .headline-secondary--grouped {
    margin-top: 0.41667em;
    margin-bottom: 2.25em; }

.handwriting {
  font-family: "Indie Flower", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  top: 51px;
  left: 17px;
  font-weight: bold;
  font-size: 1.5em;
  color: #2a3d45;
  text-shadow: 1px 1px 1px #eee; }

.form__label {
  display: block;
  margin-bottom: 0.625em; }

.form__input {
  font-size: 1em;
  border-bottom: 2px solid #c2d5d8;
  color: #2a3d45;
  font-weight: 300;
  letter-spacing: 1px;
  padding: .5em 6em .5em .2em; }
  .form__input:focus {
    border-color: #2a3d45; }

.form__btn {
  background: #2a3d45; }

.btn__group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row; }

.btn--current {
  background-color: #2a3d45; }

.btn--default {
  background-color: #2a3d45; }

.btn--success {
  background-color: #5ece7f; }

.btn--error {
  background-color: #e67478; }

.btn--warning {
  background-color: #ff784f; }

.btn--info {
  background-color: #9279c3; }

.btn__tab--current {
  background-color: #2a3d45; }

.btn__tab--default {
  background-color: #2a3d45; }

.btn__tab--success {
  background-color: #5ece7f; }

.btn__tab--error {
  background-color: #e67478; }

.btn__tab--warning {
  background-color: #ff784f; }

.btn__tab--info {
  background-color: #9279c3; }

.btn__tab--transparent {
  color: #797e83;
  background-color: transparent;
  font-weight: bold; }

[class^="btn--"] {
  margin-bottom: 1.42857em; }
  @media (min-width: 320px) {
    [class^="btn--"] {
      width: 100%; } }
  @media (min-width: 768px) {
    [class^="btn--"] {
      width: auto;
      display: inline-block; }
      [class^="btn--"] + [class^="btn--"] {
        margin-left: 20px; } }

@media (min-width: 768px) {
  [class^="btn__"] {
    width: auto;
    display: inline-block; }
    [class^="btn__"] + [class^="btn__"] {
      margin-left: 5px; } }

.navbar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 94px;
  -ms-flex-align: center;
  align-items: center; }
  @media (min-width: 768px) {
    .navbar {
      margin-bottom: 0; } }
  .navbar--right {
    display: -ms-flexbox;
    display: flex; }

.nav {
  margin-top: 1.25em;
  margin-bottom: 1.875em; }
  .nav__item a {
    color: #797e83; }

.offcanvas {
  position: relative;
  padding: 0.625em;
  letter-spacing: 1px;
  background: #c2d5d8;
  background: linear-gradient(45deg, rgba(212, 117, 0, 0.8) 0%, #c2d5d8 100%); }

.menu {
  margin-top: 1.25em; }
  .menu__link {
    border-bottom: solid 1px rgba(255, 255, 255, 0.3); }

.progbar {
  height: 4px;
  border-radius: 2px;
  background: #d6d7d9;
  position: relative;
  margin-bottom: 2.875em; }
  .progbar__status--current {
    background-color: #2a3d45; }
    .progbar__status--current:after {
      background-color: #39535e; }
  .progbar__status--default {
    background-color: #2a3d45; }
    .progbar__status--default:after {
      background-color: #39535e; }
  .progbar__status--success {
    background-color: #5ece7f; }
    .progbar__status--success:after {
      background-color: #7dd898; }
  .progbar__status--error {
    background-color: #e67478; }
    .progbar__status--error:after {
      background-color: #ec979a; }
  .progbar__status--warning {
    background-color: #ff784f; }
    .progbar__status--warning:after {
      background-color: #ff9778; }
  .progbar__status--info {
    background-color: #9279c3; }
    .progbar__status--info:after {
      background-color: #a995d0; }

[class^="progbar__"] {
  display: block;
  width: 50%;
  height: 100%;
  border-radius: inherit;
  position: relative; }
  [class^="progbar__"]:after {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    right: -10px;
    top: -8px; }

.arrow {
  background-image: url("../img/next.svg");
  background-repeat: no-repeat;
  width: 45px;
  height: 45px;
  display: inline-block; }

.icon {
  display: block;
  text-align: center;
  vertical-align: top;
  color: #abb7b7;
  margin-top: 1em; }
  .icon__item a {
    display: inline-block;
    padding: 1em;
    width: 100%; }
    .icon__item a:focus, .icon__item a:hover {
      color: #d47500; }
  .icon__item--current {
    border-left-color: orange;
    border-left-width: 3px;
    border-left-style: solid; }
    .icon__item--current a {
      display: inline-block;
      padding: 0.75em;
      width: 100%; }
      .icon__item--current a svg path {
        fill: #d47500; }
  .icon__svg {
    margin: 1em; }
    .icon__svg:hover path {
      fill: #d47500; }
    .icon__svg--notification:hover {
      animation: heartbeat 1.5s ease-in-out infinite both; }
    .icon__svg--notification path {
      fill: #2a3d45; }
    .icon__svg--notification circle {
      fill: #d47500;
      stroke: #FFFFFF; }
    .icon__svg--power path {
      stroke-width: 6px; }

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out; }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in; }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out; }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in; }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out; } }

.dropdown {
  position: relative; }

.dropdown__menu {
  display: none;
  position: absolute; }

.toast-success {
  background-color: #2a3d45; }

.toast-top-center {
  top: 10px; }

.toast-progress {
  background-color: #d47500;
  opacity: 1; }

.social {
  background-color: #ebecec;
  border: 1px solid #d6d7d9;
  border-radius: 5px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center; }
  .social__icon {
    display: inline-block; }
  .social__content {
    display: inline-block; }
    .social__content--heading {
      color: #4b6a88;
      margin: 0;
      line-height: 1.25em; }
    .social__content--stats {
      line-height: 1em;
      font-size: 2.5em; }

.onoffswitch {
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.onoffswitch-checkbox {
  display: none; }

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 30px;
  padding: 0;
  line-height: 30px;
  border: 0px solid #999999;
  border-radius: 37px;
  background-color: #EEEEEE; }

.onoffswitch-label:before {
  content: "";
  display: block;
  width: 37px;
  margin: -3.5px;
  background: #A1A1A1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  border-radius: 37px;
  box-shadow: 0 6px 12px 0px #757575; }

.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #2A3D45; }

.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #2A3D45; }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0; }

.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px;
  background-color: #c2d5d8;
  box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2); }

@media (min-width: 320px) {
  .is-displayed-mobile {
    display: block; }
    .is-hidden-mobile {
      display: none; } }

@media (min-width: 768px) {
  .is-displayed-mobile {
    display: none; } }

@media (min-width: 320px) {
  .is-collapsed-mobile {
    visibility: collapse;
    padding: 0;
    height: 0;
    margin: 0;
    line-height: 0; } }

.theme__poly .grid__col--12 {
  background-color: #DEF4E5; }

.theme__poly .grid__col--8 {
  background-color: #DCE0F2; }

.theme__poly .grid__col--7 {
  background-color: #DCF0EF; }

.theme__poly .grid__col--6 {
  background-color: #FFE3DB; }

.theme__poly .grid__col--4 {
  background-color: #F8EDD0; }

.theme__poly .grid__col--5 {
  background-color: #EAEBEC; }

.theme__poly .grid__col--2 {
  background-color: #C5E2CE; }

.theme__poly .grid__col--3 {
  background-color: #D6EEF5; }

/*# sourceMappingURL=application.css.map */
