// ==========================================================================
// Buttons
// ==========================================================================

.btn {
  @include e(group){
    @extend %clearfix;
    display: flex;
    flex-direction: row;
  }
  @include ui-colors($ui-colors);
  @include e(tab){
    @include ui-colors($ui-colors);
    @include m(transparent){
      color: palette(grey);
      background-color: transparent;
      font-weight: bold;
    }
    @include m(active){
      box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
    }
  }
}

[class^="btn--"] {
  @extend %btn;
  @extend %center-align;
  margin-bottom: em(20px, 14px);
  margin-top: em(20px, 14px);
  padding: 15px 30px;
  border-radius : $br--default;
  box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
  @include mq(small) {
    width: 100%;
  }
  @include mq(medium) {
    @include doubly(20px);
    width: auto;
    display: inline-block;
  }
}
[class^="btn__tab"] {
  @extend %btn;
  padding: 5px 10px;
  border-radius : 50px;
  @extend %center-align;
  @include mq(medium) {
    @include doubly(5px);
    width: auto;
    display: inline-block;
  }
}
