.dropdown {
  position: relative;
  display: inline-block;
  & > a{
    color: $color-accent;
  }
  @include e(content){
    display: none;
    position: absolute;
    min-width: 225px;
    z-index: 1;
    background-color: #fff;
    top: 68px;
    margin-top: 0;
    margin-left: 0;
    border: 1px solid #e7eaec;
    box-shadow: 0 2px 1px 1px #c2d5d8;
  }
  @include e(link){
    display: flex;
    align-items: center;
    font-size: em(14px);
    padding: .5em 1em;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: 1px solid #e7eaec;
    padding: 1.2em .8em;
    &:hover{
      background-color: lighten($color-primary, 70%);
      opacity: .8;
    }
  }
  @include e(divider){
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid palette(grey, xx-light);
    margin: .5em 0;
    padding: 0;
  }
}

.is-hidden{
  display: none;
}
