// ==========================================================================
// Form Elements
// ==========================================================================

.form {
	@include e(label) {
		@include m(hidden) {
			@extend .srt;
		}
		display: block;
		margin-bottom: em(10px);
	}

	@include e(input) {
		font-size : em(16px);
		border-bottom: 2px solid #c2d5d8;
		color: $color-primary;
		font-weight: $font-weight--light;
		letter-spacing: 1px;
		padding: .5em 6em .5em .2em;
		&:focus {
			border-color: $color-primary;
		}
	}

	@include e(btn) {
		@extend %btn;
		background: $color-primary;
	}
}
