// ==========================================================================
// Icons
// ==========================================================================

// Logo

.arrow {
	@include img-replace("next.svg", 45px, 45px, inline-block);
}

// UI

.icon {
	display: block;
	text-align: center;
	vertical-align: top;
	color: #abb7b7;
	margin-top: em(16px);
	@include e(item){
		a{
			display: inline-block;
			padding: em(16px);
			width: 100%;
			&:focus, &:hover{
				color: #d47500;
			}
		}
		@include m(current) {
			border-left-color: orange;
			border-left-width: 3px;
			border-left-style: solid;
			a{
				display: inline-block;
				padding: em(12px);
				width: 100%;
				svg{
					path{
						fill: $color-accent;
					}
				}
			}
		}
	}
	@include e(svg){
		margin: 1em;
		&:hover{
			path{
				fill: $color-accent;
			}
		}

		@include m(notification) {
			@extend %svg--item;
			&:hover{
				animation: heartbeat 1.5s ease-in-out infinite both;
			}
			path{
				fill: $color-primary;
			}
			circle{
				fill: $color-accent;
				stroke:#FFFFFF;
			}
		}
		@include m(power) {
			@extend %svg--item;
			path{
				stroke-width: 6px;
			}
		}
	}
}
@keyframes heartbeat {
	from {
		transform: scale(1);
		transform-origin: center center;
		animation-timing-function: ease-out;
	}
	10% {
		transform: scale(0.91);
		animation-timing-function: ease-in;
	}
	17% {
		transform: scale(0.98);
		animation-timing-function: ease-out;
	}
	33% {
		transform: scale(0.87);
		animation-timing-function: ease-in;
	}
	45% {
		transform: scale(1);
		animation-timing-function: ease-out;
	}
}
