// ==========================================================================
// Icons
// ==========================================================================

// Logo

.site-logo {
	@include img-replace("logo.svg", 115px, 45px, inline-block);
}

// UI

.icon {
	display: block;
	text-align: center;
	vertical-align: top;
	color: #abb7b7;
	@include e(item){
		font-family: "Flaticon";
		font-size: em(20px);
		line-height: 1;
		a{
			display: inline-block;
			padding: em(16px);
			width: 100%;
			&:focus, &:hover{
				color: #d47500;
			}
		}
		@include m(current) {
			padding: em(16px);
			font-family: "Flaticon";
			font-size: em(20px);
			line-height: 1;
			a{
				color: #d47500;
				display: inline-block;
				padding: em(16px);
				width: 100%;
			}
		}
	}
	@include e(svg){
    @extend %svg--item;
		path{
			stroke-width: 6px;
			stroke: $color-primary;
		}
		@include m(notification) {
			@extend %svg--item;
			path{
				fill: $color-primary;
			}
			circle{
				fill: $color-accent;
				stroke:#FFFFFF;
			}
		}
	}
}
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
	font-family: Flaticon;
	font-size: 22px;
	font-style: normal;
}

.icn {

	// Nav Toggle
	@include m(nav-toggle) {
		@extend %icn--ui;
		width: 25px;
		height: 17px;
		border-top: solid 3px palette(grey);
		border-bottom: solid 3px palette(grey);
		position: relative;
		@include p-el(before, 25px, 3px) {
			background: palette(grey, light);
			top: 4px;
		}
	}

	// Close
	@include m(close) {
		@extend %icn--ui;
		@include img-replace("icn-close.svg", 20px, 20px);
		position: absolute;
		right: 4%;
		top: 4%;
	}
}
