// ==========================================================================
// Icons
// ==========================================================================

// UI

.icon {
	display: block;
	text-align: center;
	vertical-align: top;
	color: #abb7b7;
	margin-top: em(16px);
	@include e(item){
		a{
			padding: em(16px);
			display: block;
			width: 100%;
			color: #fff;
		}
		@include m(active) {
			border-left: 2px solid $color-accent;
			box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
			a{
				padding: em(16px);
				display: block;
				width: 100%;
				color: $color-accent;
			}
		}
	}
	@include e(svg){
		@extend %svg;
		@include m(notification) {
			@extend %svg--item;
			width: em(32px);
			height: em(32px);
			&:hover{
				animation: heartbeat 1.5s ease-in-out infinite both;
			}
		}
		@include m(power) {
			@extend %svg--item;
			width: em(32px);
			height: em(32px);
		}
		@include m(social) {
			@extend %svg--item;
			width: em(64px);
			height: em(64px);
		}
	}
}
@keyframes heartbeat {
	from {
		transform: scale(1);
		transform-origin: center center;
		animation-timing-function: ease-out;
	}
	10% {
		transform: scale(0.91);
		animation-timing-function: ease-in;
	}
	17% {
		transform: scale(0.98);
		animation-timing-function: ease-out;
	}
	33% {
		transform: scale(0.87);
		animation-timing-function: ease-in;
	}
	45% {
		transform: scale(1);
		animation-timing-function: ease-out;
	}
}
