// ==========================================================================
// Images
// ==========================================================================

.img {
	@include m(profile) {
		display: flex;
	}
	@include m(avatar) {
    height: em(25px);
		border-radius: $br--round;
	}
	@include m(logo) {
		border-radius: $br--round;
		max-height: 96px;
	}
	@include e(container) {
    height: 96px;
    text-align: center;
		position: relative;
    background-color: #c2d5d8;
		@include mq(medium) {

		}
	}
  @include m(text) {
    margin: em(16px) em(8px);
    line-height: em(25px);
	}
}
