// ==========================================================================
// Images
// ==========================================================================

.img {
	@include m(profile) {
		display: flex;
	}
	@include m(avatar) {
    height: em(25px);
		border-radius: $br--round;
	}
	@include m(logo) {
		position: relative;
    background-color: #c2d5d8;
	}
  @include m(text) {
    margin: em(16px) em(8px);
    line-height: em(25px);
	}
}
