// ==========================================================================
// Navbar
// ==========================================================================

.navbar {
	display: flex;
	justify-content: center;
	height: 94px;
	align-items: center;
	width: 95%;
	margin: auto;
	@include mq(medium) {
		margin-bottom: 0;
		justify-content: space-between;
	}
	@include m(right) {
		display: flex;
		margin-top: em(20px);
	}
}
