.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 30px; padding: 0; line-height: 30px;
    border: 0px solid #999999; border-radius: 37px;
    background-color: #EEEEEE;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 37px; margin: -3.5px;
    background: #A1A1A1;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border-radius: 37px;
    box-shadow: 0 6px 12px 0px #757575;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #2A3D45;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #2A3D45;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px;
    background-color: #c2d5d8;
    box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
}
