.setting {
  @include e(content){
    display: flex;
    padding-bottom: 2em;
    padding-top: .8em;
    color: $color-primary;
    align-items: center;
    justify-content: space-between;
    @include mq(medium) {
      justify-content: initial;
    }
  }
}
.onoffswitch{
  margin-left: em(16px);
}
