// ==========================================================================
// Base Styles
// ==========================================================================

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	color: palette(grey);
  font-size: $base__font-size;
  font-family: $font-family--secondary;
  line-height: ($base__line/$base__font-size);
	background-color: #2A3D45;
}

// Text
h3 {
	font-size: em(18px);
	font-family: $font-family--primary;
}

a {
	color: palette(grey, dark);
	text-decoration: none;
	font-weight: $font-weight--medium;
}

p {
	margin: 0 0 em(30px, 18px);
	font-weight: $font-weight--light;
	font-size: em(18px);
	line-height: (27px/18px);
}

// Lists

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// Images

img {
  margin: em(16px) 0;
  max-width: 100%;
  height: auto;
}

// Form elements
textarea {
    resize: none;
}
input,
textarea {
	display: block;
	padding: 15px;
	width: 100%;
	outline: 0;
	border: 0;
}

input:focus,
textarea:focus {
	transition: $trns_duration;
}

// Button

button {
	outline: 0;
}
