// ==========================================================================
// Grid Container
// ==========================================================================

.wrapper{
	width: 100%;
	overflow-x: hidden;
}
.grid {
	@extend %clearfix;
	@extend .centered;
	width: 95%;
	padding: 0;
	// Make nested grid container 100%
	[class*="grid__col--"] > & {
		width: 100%;
	}
	@include mq(medium) {
		padding-top: em(20px);
	}
	// Set max-width for grid container
	@include mq(large) {
		max-width: $g-cont-max-w;
	}
}
